* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.login-row-submit {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 1em;
    border: solid 1px black;
}

input[name="usuario"],
input[name="pass"],
input[name="re_pass"] {
background-color: lightblue;
outline: none;
border: solid 1px white;
}

input[name="usuario"]::placeholder,
input[name="pass"]::placeholder,
input[name="re_pass"]::placeholder {
    color: #888;
}

input[name="usuario"]:focus,
input[name="pass"]:focus,
input[name="re_pass"]:focus {
 border: solid #555 1px;   
}